.Gallery_container {
    background-image: url('/static/Texture2D/gallery_BG.webp');
}

.Gallery_switch {
    left: 15px;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    padding-top: 7px;
    padding-left: 32px;
    color: #344460;
    font-weight: bold;
    font-family: initial;
    background-image: url('/static/Texture2D/gallery_category.webp');
    transition: 0.2s;
}

.Gallery_switch_hover {
    @media (hover: hover) {
        &:hover {
            opacity: 0.5;
        }
    }
}

.Gallery_switch_0 {
    top: 160px;
}

.Gallery_switch_1 {
    top: 220px;
}

.Gallery_switch_2 {
    top: 280px;

    > svg {
        left: 24px;
    }
}

.Gallery_content_cg {
    bottom: 68px;
    left: 120px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 1010px;
    height: 492px;
    place-content: space-between;
}

.Gallery_content_cg_element {
    position: initial;
    width: 192px;
    height: 108px;
    background-image: url('/static/Texture2D/gallery_thumb.webp');
    background-size: contain;
}

.Gallery_content_cg_element_empty {
    visibility: hidden;
    pointer-events: none;
}

.Gallery_CG_container {
    display: contents;

    > * {
        display: contents;
    }
}

.Gallery_CG_view {
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: black;
}

.Gallery_VCG_view {
    z-index: 9;
    width: 100%;
    height: 100%;
}
