.Menu_main {
    position: absolute;
    z-index: 16;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    animation: menu-show-softly 0.5s forwards;
}

.Menu_TagContent {
    width: 100%;
    height: 90%;
}

@keyframes menu-show-softly {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
