.LandingPage_container {
    background-color: rgb(254 254 254);
}

.LandingPage_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation:
        expand 2.5s linear forwards,
        fade-out 0.5s linear 2s forwards;
}

@keyframes expand {
    0% {
        // width: 730px;
        // height: 210px;
        transform: translate(-50%, -50%) scale(0.3653);
    }

    100% {
        // width: 775px;
        // height: 225px;
        transform: translate(-50%, -50%) scale(0.3896);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
