.NormalOption {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0.2em 1em;
    padding: 0.2em;
    animation: Elements_in ease-out 0.7s forwards;
}

.NormalOption_title {
    //border-bottom: 2px solid rgba(81, 110, 65, 0.9);
    padding: 0.15em 0.5em 0.15em 0.1em;
    //color: rgba(81, 110, 65, 0.9);
    color: transparent;
    font-weight: bold;
    font-size: 200%;
    background: linear-gradient(to left, #227d51, rgb(81 110 65 / 100%));
    background-clip: text;
}

.NormalOption_title_bef {
    position: absolute;
    z-index: -1;
    padding: 0.15em 0.5em 0.15em 0.1em;
    font-weight: bold;
    font-size: 200%;
    content: attr(data-text);
    -webkit-text-stroke: 3px rgb(0 0 0 / 100%);
}

.NormalOption_title_sd {
    position: absolute;
    z-index: -1;
    padding: 0.15em 0.5em 0.15em 0.1em;
    color: rgb(0 0 0 / 0%);
    font-weight: bold;
    font-size: 200%;
    text-shadow:
        0.04em 0.04em rgb(81 110 65 / 90%),
        0.05em 0.05em rgb(81 110 65 / 90%),
        0.06em 0.06em rgb(81 110 65 / 90%),
        0.07em 0.07em rgb(81 110 65 / 90%),
        0.08em 0.08em rgb(81 110 65 / 90%),
        0.09em 0.09em rgb(81 110 65 / 90%),
        0.1em 0.1em rgb(81 110 65 / 90%);
    //0.11em 0.11em rgba(81, 110, 65, 0.9),
    //0.12em 0.12em rgba(81, 110, 65, 0.9);
}

.NormalOption_buttonList {
    display: flex;
    padding: 0.5em 0;
}

@keyframes Elements_in {
    0% {
        transform: scale(1.03, 1.03) translate(-25px, -20px);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1) translate(0, 0);
        opacity: 1;
    }
}
