.Back_style {
    right: 48px;
    bottom: 25px;
    width: 88px;
    height: 23px;
    background-image: url('/static/Texture2D/backlog_back.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/backlog_back_ov.webp');
        }
    }

    :global(.mobile) & {
        transform: scale(1.2);
        transform-origin: bottom right;
    }
}
