.Game_Backlog_container {
    z-index: 9;
    background-image: url('/static/Texture2D/backlog.webp');
}

.Game_Backlog_mask {
    z-index: 1;
    background-color: black;
    opacity: 0.197;
}

.Game_Backlog_content {
    top: 100px;
    left: 28px;
    width: 948px;
    height: 720 - 100 - 10px;
    padding-left: 120px;
    overflow: hidden;

    > * {
        display: flex;
        flex-direction: column-reverse;
        min-height: 100%;
    }

    * {
        color: white;
        font-family: initial;
    }
}

.Game_Backlog_element {
    position: relative;
    width: 100%;
    height: 140px;
}

.Game_Backlog_element_clip,
.Game_Backlog_element_back {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: rgba($color: #ffffff, $alpha: 51%);
    border-radius: 100%;

    :global(.mobile) & {
        width: 28 + 8px;
        height: 28 + 8px;
    }
}

.Game_Backlog_element_clip {
    top: 35px;

    :global(.mobile) & {
        top: 35 - 5px;
    }
}

.Game_Backlog_element_back {
    top: 85px;
}

.Game_Backlog_element_name {
    top: 0;
    left: 100px;
    z-index: 6;
    box-sizing: border-box;
    width: 249px;
    height: 39px;
    padding-top: 6px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 27px;
    background-image: url('/static/Texture2D/backlog_name.webp');
}

.Game_Backlog_element_text {
    left: 45px;
    z-index: 5;
    box-sizing: border-box;
    width: 900px;
    height: 125px;
    padding-top: 40px;
    padding-left: 100px;
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-all;
    background-image: url('/static/Texture2D/backlog_window.webp');
}

.Game_Backlog_Scrollbar_track {
    top: 180px;
    left: 1220px;
    width: 20px;
    height: 410px;
    background-color: rgba($color: #ffffff, $alpha: 58.5%);
}

.Game_Backlog_Scrollbar_thumb {
    width: 100%;
    background-color: #433e3e;
    transition: background-color 0.1s;
    transition: 0.05s linear;

    &:active {
        background-color: #353131;
    }
}
