.Game_Choice_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
    width: 100%;
    height: auto;
    padding-top: 110px;
}

.Game_Choice_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 60px;
}

.Game_Choice_item_text {
    color: white;
    font-size: 32px;
}

.Game_Choice_item_background {
    width: 100%;
    height: 100%;
    background-image: url('/static/Texture2D/window_name.webp'), url('/static/Texture2D/window_name.webp');
    background-size: 100%;
    /* tag:渐变时间不确定，透明度不确定,与原作有通透性差异 */
    opacity: 0.75;
    transition: opacity 0.2s;

    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }
}
