.Game_ControlPanel_container {
    right: 0;
    bottom: 8px;
    width: (235 + 145 + 5) px;
    height: 28px;
    margin-right: 30px;

    * {
        position: initial;
        height: 28px;
    }

    :global(.mobile) & {
        transform: scale(1.5);
        transform-origin: bottom right;
    }
}

.Game_ControlPanel_container,
.Game_ControlPanel_group_1,
.Game_ControlPanel_group_2 {
    display: flex;
    justify-content: space-between;
}

.Game_ControlPanel_group_1 {
    width: 235px;
}

.Game_ControlPanel_group_2 {
    width: 144px;
    padding-left: 8px;
}

.Game_ControlPanel_hidden {
    width: 26px;
    background-image: url('/static/Texture2D/window_close.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_close_ov.webp');
        }
    }
}

.Game_ControlPanel_fast {
    width: 28px;
    background-image: url('/static/Texture2D/window_skip.webp');
}

.Game_ControlPanel_auto {
    width: 24px;
    background-image: url('/static/Texture2D/window_auto.webp');
}

.Game_ControlPanel_backlog {
    width: 26px;
    background-image: url('/static/Texture2D/window_backlog.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_backlog_ov.webp');
        }
    }
}

.Game_ControlPanel_config {
    width: 24px;
    background-image: url('/static/Texture2D/window_config.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_config_ov.webp');
        }
    }
}

.Game_ControlPanel_quickload,
.Game_ControlPanel_quicksave {
    width: 54px;
}

.Game_ControlPanel_quickload {
    background-image: url('/static/Texture2D/window_qload.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_qload_ov.webp');
        }
    }
}

.Game_ControlPanel_quicksave {
    background-image: url('/static/Texture2D/window_qsave.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_qsave_ov.webp');
        }
    }
}

.Game_ControlPanel_load,
.Game_ControlPanel_save {
    width: 48px;
}

.Game_ControlPanel_load {
    background-image: url('/static/Texture2D/window_load.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_load_ov.webp');
        }
    }
}

.Game_ControlPanel_save {
    background-image: url('/static/Texture2D/window_save.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/window_save_ov.webp');
        }
    }
}
