.Game_Stage_container {
    z-index: -99;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;

    > * {
        position: relative;
        width: 100%;
        height: 100%;

        > * {
            position: absolute;
        }

        > img {
            object-fit: cover;
        }
    }
}
