@import '@/lib/text-stroke';

.Game_TextBox_text_container {
    bottom: 0;
    width: 1280px;
    height: 200px;
}

.Game_TextBox_text_background {
    width: 100%;
    height: 100%;
    background-image: url('/static/Texture2D/window_message.webp');
}

.Game_TextBox_text {
    top: 50px;
    left: 260px;
    max-width: 845px;
    font-weight: bold;
    font-size: 28px;
    white-space: pre-wrap;
    word-break: break-all;

    @include text-stroke(1, black);

    > * {
        position: relative;
        display: inline-block;
        width: auto;
    }
}

.Game_TextBox_name_container {
    bottom: 165px;
    left: 200px;
    width: 247px;
    height: 39px;
}

.Game_TextBox_name {
    padding-top: 8px;
    padding-left: 30px;
    color: #94c6ec;
    font-weight: 300;
    font-size: 27px;
}

.Game_TextBox_name_background {
    width: 100%;
    height: 100%;
    background-image: url('/static/Texture2D/window_name.webp');
    opacity: 0.7;
}

.Game_TextBox_star_container {
    display: inline-block;
}

.Game_TextBox_star {
    position: absolute;
    right: -32px;
    bottom: -12 - 30px;
    width: 32px;
    height: 32px;
    background-image: url('/static/Texture2D/window_click.webp');
    // transform: rotate(180deg);
    animation: flash 0.5s infinite alternate;

    @keyframes flash {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}
