.Save_Load_container {
    background-image: url(./static/Texture2D/saveload_window.png);
}

.Save_Load_title {
    width: 88px;
    height: 39px;
    left: 114px;
    top: 60px;
}

.Save_Load_top_buttonList {
    width: 435px;
    height: 30px;
    top: 145px;
    right: 123px;
    display: flex;
    justify-content: space-between;
}

.Save_Load_top_button {
    width: 30px;
    border-radius: 50%;
    position: unset;
    transition: 0.15s;
}

.Save_Load_top_arrow {
    width: 18px;
    height: 30px;
    top: 145px;
    background-image: url(./static/Texture2D/ShiftArrow.png);
    background-repeat: no-repeat;
    background-position: left;
    &:hover {
        width: 18 + 32px;
        scale: 1.01;
        filter: drop-shadow(32px 0px #909090);
    }
}

.Save_Load_top_arrow_left {
    left: 690px;
    transform: rotate(180deg);
}

.Save_Load_top_arrow_right {
    right: 90px;
}

.Save_Load_content {
    width: 1160px;
    height: 420px;
    left: 60px;
    bottom: 98px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
}

.Save_Load_content_element {
    width: 380px;
    height: 134px;
    color: white;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(./static/Texture2D/saveload_frame.png);
    }
    &:hover::before {
        opacity: 0.412;
    }
}

.Save_Load_content_element_image,
.Save_Load_content_element_empty_image {
    width: 180px;
    height: 100px;
    left: 10px;
    top: 26.5px;
    pointer-events: none;
}

.Save_Load_content_element_empty_image {
    background-image: url(./static/Texture2D/saveload_thumb.png);
}

/* tag:这用的大概不是江城圆体 */
.Save_Load_content_element_index,
.Save_Load_content_element_date {
    top: 7.5px;
}

.Save_Load_content_element_index {
    left: 13.5px;
}

.Save_Load_content_element_date {
    left: 200px;
}

.Save_Load_content_text {
    left: 195px;
    top: 36px;
    font-family: '';
}
