.extra {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 14;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2em;
    background-image: linear-gradient(135deg, #93a5cf 0%, #e4efe9 100%);
}

.extra_top {
    display: flex;
    height: 10%;
    padding: 0;
}

.extra_top_icon {
    padding: 0.6em 0.6em 0;
    border-radius: 1000px;
    transform: translate(0, -13px);
    cursor: pointer;
}

@media (hover: hover) {
    .extra_top_icon:hover {
        background: rgb(255 255 255 / 25%);
        animation: extra_icon_softin 0.25s ease-out forwards;
    }
}

@keyframes extra_icon_softin {
    0% {
        background: rgb(255 255 255 / 0%);
    }

    100% {
        background: rgb(0 0 0 / 25%);
    }
}

.extra_title {
    height: 100%;
    color: transparent;
    font-weight: bold;
    font-size: 325%;
    font-family: '思源宋体', serif;
    line-height: 100%;
    background: linear-gradient(150deg, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 100%) 75%, #51a8dd 100%);
    background-clip: text;
}

.mainContainer {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    height: 92%;
    padding: 0 2em;
}

.bgmContainer {
    position: absolute;
    right: 50px;
    bottom: 30px;
    left: 50px;
    z-index: 2;
    display: flex;
    flex-flow: column-reverse;
    align-content: center;
    //width: 100%;
    //height: 70%;
    box-sizing: border-box;
    padding: 1em 2em;
    overflow: auto;
    background-image: linear-gradient(315deg, rgb(163 189 237 / 95%) 0%, rgb(105 145 199 / 95%) 100%);
    border-radius: 4px;
    transition: max-height 0.5s;
}

.bgmListContainer {
    bottom: 0;
    z-index: 2;
    display: flex;
    flex: 1;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    //overflow: hidden;
    width: 100%;
    margin: 0 0 15px;
    overflow: auto;
}

.bgmPlayerMain {
    display: flex;
}

.bgmControlButton {
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 5px;
    padding: 0.6em 1.2em 0.2em;
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.33s,
        color 0.33s;
}

@media (hover: hover) {
    .bgmControlButton:hover {
        box-shadow: 0 0 10px 5px rgb(255 255 255 / 35%);
    }
}

.bgmName {
    margin: 5px 5px 0 15px;
    overflow: hidden;
    color: rgb(255 255 255 / 80%);
    font-size: 155%;
    font-family: '思源宋体', serif;
}

.bgmElement {
    flex-shrink: 0;
    width: 28%;
    margin: 0.5em 1em 0.5em 0.5em;
    padding: 0.5em 1em;
    overflow: hidden;
    color: white;
    font-size: 125%;
    font-family: '思源宋体', serif;
    background-color: rgb(0 0 0 / 10%);
    border-radius: 5px;
    //animation: bgmElement_In 0.5s forwards ease-out;
    cursor: pointer;
    opacity: 1;
    transition:
        background-color 1s,
        color 1s;
}

@keyframes bgmElement_In {
    0% {
        opacity: 0.95;
        //transform: translate(-50px, 0);
    }

    100% {
        opacity: 1;
    }
}

@media (hover: hover) {
    .bgmElement:hover {
        color: #666666;
        background-color: rgb(255 255 255 / 65%);
        transition:
            background-color 0.5s,
            color 0.5s;
    }
}

.bgmElement_active {
    color: #666666;
    background-color: rgb(255 255 255 / 85%) !important;
}

.cgMain {
    width: 100%;
    height: 88%;
}

.cgContainer {
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 4em 0 0 2em;
}

.cgElement {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 22.5%;
    height: 37.5%;
    margin: 1em;
    padding: 0.75em;
    background-color: rgb(255 255 255 / 75%);
    box-shadow: 0 0 15px 5px rgb(0 0 0 / 35%);
    cursor: pointer;
    opacity: 0;
    animation-delay: 100ms;
}

.cgShowDiv {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 8%;
}

.cgShowDivWarpper {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;
    padding: 12px 15px;
    //background: rgba(255, 255, 255, 0.35);
    border-radius: 7px;
}

.cgNav {
    margin: 0 0.25em;
    padding: 0.12em 1em;
    //background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 170%;
    //width: 20px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition:
        background-color 0.5s,
        color 0.5s,
        font-weight 0.5s;
}

.cgNav:first-child {
    margin-left: 0;
}

.cgNav:last-child {
    margin-right: 0;
}

.cgNav_active {
    color: #005caf;
    font-weight: bold;
    background-color: rgb(0 92 175 / 10%) !important;
}

@media (hover: hover) {
    .cgNav:hover {
        background-color: rgb(0 92 175 / 5%);
    }
}

.showFullContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 10%);
}

.showFullCgMain {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    padding: 2em;
    background: rgb(255 255 255 / 95%);
    cursor: pointer;
    opacity: 0;
    animation: fullCgIn 0.5s ease-out forwards;
}

$initialTransform: scale(1.05, 1.05) translate(-25px, -50px) rotateX(-10deg) rotateY(10deg);
$endTransform: scale(1, 1) translate3d(0, 0, 0);

@keyframes fullCgIn {
    0% {
        transform: $initialTransform;
        opacity: 0;
    }

    100% {
        transform: $endTransform;
        opacity: 1;
    }
}
