.Config_container {
    background-image: url('/static/Texture2D/config_BG.webp');
}

.Config_cell {
    width: 320px;
    height: 30px;
}

.Config_cell_text {
    top: -80%;
    left: -12px;
    color: #344460;
}

.Config_cell_right {
    right: 280px;
}

.Config_cell_left {
    left: 280px;
}

.Config_button_full_screen {
    width: 320px;
    height: 30px;
}

.Config_button_full_screen_off {
    background-image: url('/static/Texture2D/config_window.webp');
}

.Config_button_full_screen_on {
    background-image: url('/static/Texture2D/config_full.webp');
}

.Config_button {
    width: 160px;
    height: 30px;
}

.Config_button_off {
    left: 160px;
}

.Config_button_off_on,
.Config_button_on_on,
.Config_button_full_screen_on {
    transition: 0.18s;
}

.Config_button_off_off {
    background-image: url('/static/Texture2D/config_button_off.webp');
}

.Config_button_off_on {
    background-image: url('/static/Texture2D/config_button_off_ov.webp');
}

.Config_button_on_off {
    background-image: url('/static/Texture2D/config_button_on.webp');
}

.Config_button_on_on {
    background-image: url('/static/Texture2D/config_button_on_ov.webp');
}

.Config_bottom_back_title,
.Config_bottom_reset {
    bottom: 25px;
    width: 88px;
    height: 23px;
}

.Config_bottom_back_title {
    right: 148px;
    background-image: url('/static/Texture2D/config_backtitle.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/config_backtitle_ov.webp');
        }
    }

    :global(.mobile) & {
        right: 148 + 15px;
        transform: scale(1.2);
        transform-origin: bottom right;
    }
}

.Config_bottom_reset {
    right: 248px;
    background-image: url('/static/Texture2D/config_reset.webp');

    @media (hover: hover) {
        &:hover {
            background-image: url('/static/Texture2D/config_reset_ov.webp');
        }
    }

    :global(.mobile) & {
        right: 248 + 30px;
        transform: scale(1.2);
        transform-origin: bottom right;
    }
}
