.Config_Slider_background {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 30px;
    background-image: url('/static/Texture2D/config_gauge_BG.webp');
}

.Config_Slider_track {
    box-sizing: border-box;
    width: 320 - 18 * 2px;
    height: 30px;
}

.Config_Slider_thumb {
    width: 9px;
    height: 9px;
    background-color: #344460;
    border: 3.5px solid white;
    border-radius: 50%;
    transform: translate(-50%, 7px);
}

.Config_Slider_fill {
    height: 4px;
    background-color: white;
    transform: translate(0, 12.5px);
}
