.Gallery_container {
    background-image: url(./static/Texture2D/gallery_BG.png);
}

.Gallery_switch {
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    padding-top: 7px;
    padding-left: 32px;
    left: 15px;
    font-family: '';
    font-weight: bold;
    color: #344460;
    background-image: url(./static/Texture2D/gallery_category.png);
    transition: 0.2s;
}
.Gallery_switch_hover:hover {
    opacity: 0.5;
}
.Gallery_switch_1 {
    top: 160px;
}
.Gallery_switch_2 {
    top: 220px;
}

.Gallery_content {
    width: 1010px;
    height: 492px;
    left: 120px;
    bottom: 68px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: space-between;
}

.Gallery_content_element {
    width: 192px;
    height: 108px;
    position: unset;
    background-image: url(./static/Texture2D/gallery_thumb.png);
    background-size: contain;
}

.Gallery_content_element_empty {
    visibility: hidden;
    pointer-events: none;
}

#Gallery_CG_container {
    display: contents;
    > * {
        display: contents;
    }
}

.Gallery_CG_view {
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: black;
}
