.Title_container {
    display: flex;
    justify-content: center;
    background-image: url('/static/Texture2D/title_bg.webp');
}

.Title_button_container {
    bottom: 55px;
    display: grid;
    gap: 15px;
    justify-content: space-between;
    width: 121px;

    > * {
        position: initial;
        width: 121px;
        height: 26px;
    }
}

.Title_info_container {
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
    color: white;
    font-size: 20px;
    opacity: 0.7;

    > * {
        position: initial;
    }

    :global(.mobile) & {
        font-size: 30px;
    }
}

.Title_update_status {
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    color: white;
    opacity: 0.7;
}
