.Back_style {
    right: 48px;
    bottom: 25px;
    width: 88px;
    height: 23px;
    background-image: url('/static/Texture2D/backlog_back.png');

    &:hover {
        background-image: url('/static/Texture2D/backlog_back_ov.png');
    }
}
