.Game_Backlog_container {
    z-index: 9;
    background-image: url(./static/Texture2D/backlog.png);
}

.Game_Backlog_mask {
    z-index: 1;
    background-color: black;
    opacity: 0.197;
}

.Game_Backlog_content {
    width: 948px;
    height: 720 - 100px;
    left: 148px;
    top: 100px;
    overflow: hidden;

    > * {
        display: flex;
        min-height: 100%;
        flex-direction: column-reverse;
    }

    * {
        font-family: '';
        color: white;
    }
}

.Game_Backlog_element {
    width: 100%;
    height: 140px;
    position: relative;
}

.Game_Backlog_element_clip {
    width: 30px;
    height: 30px;
    left: 0;
    top: 65px;
    background-image: url(./static/Texture2D/backlog_backvoice.png);
}

.Game_Backlog_element_name {
    z-index: 6;
    box-sizing: border-box;
    width: 249px;
    height: 39px;
    padding-left: 30px;
    padding-top: 6px;
    top: 0;
    left: 100px;
    font-size: 27px;
    font-weight: 300;
    background-image: url(./static/Texture2D/backlog_name.png);
}

.Game_Backlog_element_text {
    z-index: 5;
    box-sizing: border-box;
    width: 900px;
    height: 125px;
    padding-left: 100px;
    padding-top: 50px;
    left: 45px;
    font-size: 20px;
    background-image: url(./static/Texture2D/backlog_window.png);
}

.Game_Backlog_Scrollbar_track {
    height: 410px;
    width: 20px;
    left: 1220px;
    top: 180px;
    background-color: rgba($color: #fff, $alpha: 0.585);
}

.Game_Backlog_Scrollbar_thumb {
    width: 100%;
    background-color: #433e3e;
    transition: background-color 0.1s;
    &:active {
        background-color: #353131;
    }
}
