.Game_ControlPanel_container {
    right: 0;
    bottom: 8px;
    width: (235 + 145 + 5) px;
    height: 28px;
    margin-right: 30px;

    * {
        position: unset;
        height: 28px;
    }
}

.Game_ControlPanel_container,
.Game_ControlPanel_group_1,
.Game_ControlPanel_group_2 {
    display: flex;
    justify-content: space-between;
}

.Game_ControlPanel_group_1 {
    width: 235px;
}

.Game_ControlPanel_group_2 {
    width: 145px;
}

.Game_ControlPanel_hidden {
    width: 26px;
    background-image: url('/static/Texture2D/window_close.png');

    &:hover {
        background-image: url('/static/Texture2D/window_close_ov.png');
    }
}
/* fast没有hover,_ov是点击才会变 */
.Game_ControlPanel_fast {
    width: 28px;
    background-image: url('/static/Texture2D/window_skip.png');
}
/* auto没有hover,甚至没有_ov,点击效果好像是变暗? */
.Game_ControlPanel_auto {
    width: 24px;
    background-image: url('/static/Texture2D/window_auto.png');
}

.Game_ControlPanel_backlog {
    width: 26px;
    background-image: url('/static/Texture2D/window_backlog.png');

    &:hover {
        background-image: url('/static/Texture2D/window_backlog_ov.png');
    }
}

.Game_ControlPanel_config {
    width: 26px;
    background-image: url('/static/Texture2D/window_config.png');

    &:hover {
        background-image: url('/static/Texture2D/window_config_ov.png');
    }
}

.Game_ControlPanel_quickload,
.Game_ControlPanel_quicksave {
    width: 54px;
}

.Game_ControlPanel_quickload {
    background-image: url('/static/Texture2D/window_qload.png');

    &:hover {
        background-image: url('/static/Texture2D/window_qload_ov.png');
    }
}

.Game_ControlPanel_quicksave {
    background-image: url('/static/Texture2D/window_qsave.png');

    &:hover {
        background-image: url('/static/Texture2D/window_qsave_ov.png');
    }
}

.Game_ControlPanel_load,
.Game_ControlPanel_save {
    width: 48px;
}

.Game_ControlPanel_load {
    background-image: url('/static/Texture2D/window_load.png');

    &:hover {
        background-image: url('/static/Texture2D/window_load_ov.png');
    }
}

.Game_ControlPanel_save {
    background-image: url('/static/Texture2D/window_save.png');

    &:hover {
        background-image: url('/static/Texture2D/window_save_ov.png');
    }
}
